---
layout: compress
title: Home | Piyush Jha
---

<title> {{page.title}} </title>
<style>
body{
    background: url("/assets/images/background2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
{% include favicon.html %}
{% include scripts.html %}
{% include nav.html %}
<div class="container" style="padding-top: 5vw;">
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <center>
                    {% include profilecard.html %}
            </center>        
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>

