<div class="card text-center" style="width: 85%;">
        <div class="card-body">
          <img src="{{ site.url }}/{{ site.picture }}" class="rounded-circle" alt="Piyush Jha" style="width: 40%; height:20%;">
          <h1 class="card-title" style="font-family: 'Alegreya', serif;">{{site.name}}</h1>
          <p class="card-text text-info" style="font-family: 'Roboto', sans-serif;"> <h4 style="color: navy;">{{site.bio}} </h4> </br>
            <h3> 
                <a href="http://linkedin.com/in/{{ site.linkedin }}"><i class="fab fa-linkedin"></i></a> 
                &nbsp;
                <a href="https://github.com/{{ site.github }}"><i class="fab fa-github"></i></a>
                &nbsp;
                <a href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i></a>
            </h3>
          </p>
          <a href="{{ site.url }}/projects" class="btn btn-primary">Projects</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{{ site.url }}/{{ site.resume-url }}" class="btn btn-primary">Resume</a>  
        </div>
</div>