---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include favicon.html %}
    {% include scripts.html %}
    {% include nav.html %}
    {% if site.analytics-google %}
        {% include analytics-google.html %}
    {% endif %}
    <title>{{page.title}}</title>
</head>
<body>
<div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4">{{ page.title }}
                <a href="{{page.gitlink}}"> <i class="fab fa-github"></i> </a>
                {% if page.youtubelink %}
                <a href="{{page.youtubelink}}"> <i class="fab fa-youtube"></i> </a>
                {% endif %}
        </h1>
        <hr>
        
      
        <!-- Portfolio Item Row -->
        
        <div class="row">
        {% for image in page.images %}
          <div class="col-sm-4">
            <img class="img-fluid" src="{{ image }}" style="padding-top: 5px; padding-right: 5px; padding-bottom: 5px;padding-left: 5px;">
          </div>
        {% endfor %}
        </div>
        
        <p> <small> <center> Screenshots of the application </center> </small> </p>
        <h3 class="my-3"> <i class="fas fa-th-list"></i> Project Description</h3>
        <hr>
        <p style="font-family: Comic Sans MS;">{{ page.projectdescription }}</p>
        <h3 class="my-3"> <i class="fas fa-laptop-code"></i> Technology Stack</h3>
        <hr>
        <ul style="list-style-type:none; font-family: Comic Sans MS;">
            {% for item in page.technology_stack %}
                <li> <i class="far fa-check-circle"></i> {{ item }} </li>
            {% endfor %}
        </ul>
        <h3 class="my-3"><i class="fas fa-medal"></i>Awards & Recognition</h3>
        <hr>
        <ul style="list-style-type:none; font-family: Comic Sans MS;">
        {% for item in page.awards %}
                <li> <i class="fas fa-trophy"></i> {{ item }} </li>
        {% endfor %}
        </ul>
        <h3 class="my-3"><i class="fas fa-users"></i>Team</h3>
        <hr>
        <p style="font-family: Comic Sans MS;"> {{page.teamdesc}} </p>
        <ul style="list-style-type:none; font-family: Comic Sans MS;">
                {% for team in page.team %}
                    {% if team[1].link %}
                        <li> <i class="fas fa-user"></i> <a href="{{ team[1].link }}">  {{ team[1].name }} </a> </li>
                    {% else %}
                    <li> <i class="fas fa-user"></i> {{ team[1].name }} </li>
                    {% endif %}
                {% endfor %}
        </ul>

      
        
        <!-- /.row -->
      
      
</div>
<!-- /.container -->
</body>
</html>